<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/admin_base::layout(~{::#style},~{::#content})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link id="style" rel="stylesheet" th:href="@{/css/admin/adminDashboard.css}">
</head>
<body>
<section id="content">
    <div class="row  mx-4 border border-1" style="--bs-gutter-x: 0">
        <div class="col-md-9">
            <div class="main-content m-2 me-0 shadow">
                <h1>This is main content</h1>
            </div>
        </div>
        <div class="col-md-3">
            <div class="notifications m-2 shadow">
                <h1 class="col-md-12">NOTIFICATIONS</h1>
            </div>

        </div>
    </div>
</section>

</body>
</html>