.order-card {
    width: 60em;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.5);
}

.container-fluid {
    background-color: #f2f1f1;
    border-radius: 10px;
}

h4, h3 {
    display: inline;
}