
.order-card {
    width: 60em;

    padding: 0.5em 0.5em 0.5em;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.5);
}

.container-fluid {
    background-color: #f2f1f1;

}

h4, h3 {
    display: inline;
}

.order-img {
    padding: 10px;
    width: 60px;
    height: auto;
}