<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/admin_base::layout(~{::#style},~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>this is for adding user</title>
    <link th:href="@{/css/admin-user-add.css}" id="style" type="text/css" rel="stylesheet">
</head>
<body>
<section id="content" class="container-fluid ">
    <div class="row  justify-content-center">
        <div class="col-md-4  m-5 ">
            <h1 class="text-center m-5">ADD PRODUCT</h1>
            <div class="alert text-center" role="alert" th:if="${message}" th:classappend="${message.type}" th:text="${message.content}">

            </div>

            <form  th:action="@{/admin/products/add}"
                   method="post"  th:object="${product}"
                   class=" bg-secondary-subtle   rounded-5 m-5 p-5"
                   enctype="multipart/form-data">


                <!------------------------------- image upload- field----------------------------------------------------->

                    <div class="m-4 ">
                        <label for="files" class="fs-3">Images</label>
                        <input
                                class="form-control fs-4 "
                                type="file"
                                name="files"
                                id="files"
                                placeholder="Upload Your Images"
                                accept="image/*"
                                multiple="multiple"
                                value="files">

                    </div>


                    <!------------------------------- product-name- field----------------------------------------------------->
                    <div class="m-4 mt-0">
                        <label for="productName" class="fs-3">Name of the Product</label>
                        <input
                                th:value="${product.productName}"
                                class="form-control  fs-4 text-center" type="text"
                                name="productName"
                                id="productName"
                                placeholder="Name of the product">
                        <div th:if="${#fields.hasErrors()}" class="text-center fs-3 text-capitalize text-danger" th:each="e: ${#fields.errors('productName')}">
                            <p th:text="${e}"></p>
                        </div>
                    </div>


                    <!------------------------------- product-mrp- field----------------------------------------------------->
                    <div class="m-4 mt-0">
                        <label for="productMRP" class="fs-3">MRP of the Product</label>
                        <input
                                th:value="${product.productMrp}"
                                class="form-control fs-4 text-center"
                                id="productMRP"
                                type="text"
                                name="productMrp"
                                placeholder="MRP of the product">
                        <div th:if="${#fields.hasErrors()}" class="text-center fs-3 text-capitalize text-danger" th:each="e: ${#fields.errors('productMrp')}">
                            <p th:text="${e}"></p>
                        </div>
                    </div>

                    <!------------------------------- product-selling-price field----------------------------------------------------->
                    <div class="m-4 mt-0">
                        <label for="productOfferPrice" class="fs-3">Price of the Product</label>
                        <input
                                th:value="${product.offerPrice}"
                                class="form-control  fs-4 text-center"
                                type="text"
                                id="productOfferPrice"
                                name="offerPrice"
                                placeholder="price of the product">
                        <div th:if="${#fields.hasErrors()}" class="text-center fs-3 text-capitalize text-danger" th:each="e: ${#fields.errors('offerPrice')}">
                            <p th:text="${e}"></p>
                        </div>
                    </div>




                    <!------------------------------- product-brand field----------------------------------------------------->
                    <div class="m-4 mt-0">
                        <label for="productOfferPrice" class="fs-3">Brand of the Product</label>
                        <input
                                th:value="${product.brand}"
                                class="form-control  fs-4 text-center"
                                type="text"
                                name="brand"
                                placeholder="brand">
                        <div th:if="${#fields.hasErrors()}" class="text-center fs-3 text-capitalize text-danger" th:each="e: ${#fields.errors('brand')}">
                            <p th:text="${e}"></p>
                        </div>
                    </div>



                    <!------------------------------- category field----------------------------------------------------->

<!--                     -->
                <div class="row m-4 mt-0">
                    <label for="gender" class="fs-3 mb-1">Customer Category</label>
                    <div class=" d-flex flex-wrap">
                        <select id="gender"  class="form-select fs-3"  th:field="*{customerCategory}">

                            <option th:value="${T(com.adith.walk.enums.CustomerCategory).FEMALE}" class="fs-2" >Women</option>
                            <option th:value="${T(com.adith.walk.enums.CustomerCategory).MALE}" class="fs-2" >Men</option>
                            <option th:value="${T(com.adith.walk.enums.CustomerCategory).UNISEX}" class="fs-2" >Unisex</option>


                        </select>
                    </div>
                </div>

                <div class="row m-4 mt-0">
                    <label for="productCategory" class="fs-3 mb-1">Product Category</label>
                    <div class=" d-flex flex-wrap">
                        <select id="productCategory"  class="form-select fs-3"  name="productCategory">
                            <th:block th:each="cate: ${productCategories}">
                                <option th:value="${cate.id}"  class="fs-2"  th:text="${cate.categoryName}"></option>
                            </th:block>

                        </select>
                    </div>
                </div>



<!--                    <div th:if="${#fields.hasErrors()}" class="text-center fs-3 text-capitalize text-danger" th:each="e: ${#fields.errors('category')}">-->
<!--                        <p th:text="${e}"></p>-->
<!--                    </div>-->

                    <!------------------------------- product-description- field----------------------------------------------------->
                    <div class="m-4 mt-0">
                        <label for="productDescription" class="fs-3">ProductDescription</label>
                        <textarea
                                th:value="${product.productDescription}"
                                class="form-control  fs-4"
                                type="text"
                                name="productDescription"
                                id="productDescription"
                                placeholder="Enter the description for the product">

                        </textarea>
                        <div th:if="${#fields.hasErrors()}" class="text-center fs-3 text-capitalize text-danger" th:each="e: ${#fields.errors('productDescription')}">
                            <p th:text="${e}"></p>
                        </div>
                    </div>
                   <div class="m-4 mt-0">
                       <button class="btn  btn-dark align-self-lg-start w-100   fs-3   mt-4  " type="submit">Submit</button>
                   </div>


                <label>
                    <input type="number"
                           class="form-control  fs-4 text-center"

                           hidden th:field="*{stock.stockId}">
                </label>

                <label>
                    <input type="number"
                           class="form-control  fs-4 text-center"

                           hidden th:field="*{productId}">
                </label>


            </form>

        </div>
        <div class="col-md-2  mt-5">
            <form th:method="post" th:action="@{/admin/products/category/add}" th:object="${newCategory}" class="d-flex justify-content-center flex-column mt-5" >
                <label class="fs-2 mt-5" for="categoryName">Create new Product Category</label>
                    <input id="categoryName" th:field="*{categoryName}" class= "fs-2 form-control" type="text" placeholder="name of the category">

                <button type="submit" class="btn btn-primary fs-2 my-3">Add Category</button>

            </form>
        </div>



    </div>



</section>

</body>
</html>