<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/admin_base::layout(~{::#style},~{::#content})">
<head>
    <meta charset="UTF-8">
    <title>this is for adding user</title>
    <link th:href="@{/css/admin-user-add.css}" id="style" type="text/css" rel="stylesheet">
</head>
<body>
<section id="content" class="container-fluid ">
    <div class="row  d-flex   justify-content-center ">
        <div class="col-md-4  m-5 bg-common ">
            <h1 class="text-center m-5">ADD STOCK</h1>
            <h1 class="text-center m-5">PRODUCT : <span th:text="${stock.product.productName}"></span></h1>
            <div class="alert text-center" role="alert" th:if="${stockMessage}" th:classappend="${stockMessage.type}" th:text="${stockMessage.content}">

            </div>

            <form  th:action="@{/admin/products/{id}/stock/add(id=${productId})}"
                   th:method="post"  th:object="${stock}">



                <label>
                    <input type="number"
                           class="form-control  fs-4 text-center"

                           hidden th:field="*{stockId}">
                </label>




                <div class=" row m-4 ">
                    <!------------------------------- product-stock- field----------------------------------------------------->
                    <th:block th:each="size,val : *{sizeList}">
                        <div class="col-md-3">
                            <div class=" input-group ">
                                <span class="input-group-text" >SIZE <span th:text="${size.sizeNumber}"></span></span>
                                <input
                                        class="form-control  fs-3"
                                        type="number"
                                        th:field="*{sizeList[__${val.index}__].totalStock}"
                                >
                                <input hidden
                                       class="form-control  fs-3"
                                       type="number"
                                       th:field="*{sizeList[__${val.index}__].sizeId}"
                                >

                                <input hidden
                                       class="form-control  fs-3"
                                       type="number"
                                       th:field="*{sizeList[__${val.index}__].stock.stockId}"
                                >
                                <input hidden
                                       class="form-control  fs-3"
                                       type="number"
                                       th:field="*{sizeList[__${val.index}__].sizeNumber}"
                                >
                            </div>
                        </div>
                    </th:block>


                    <button class="btn  btn-dark align-self-lg-start  fs-3   mt-4  " type="submit">Submit</button>
                </div>

            </form>

        </div>
        <div class="row  m-5  justify-content-center  col-md-2  ">
            <form th:action="@{'/admin/products/stock/'+${stock.stockId}+'/size/add'}" method="post" class="bg-common justify-content-center d-flex">
                <div class="alert" th:if="${message}" th:text="${messsage.content}" th:classappend="${message.type}">

                </div>
                <div>
                    <label for="newSize" class="form-label fs-3">Enter the size to add</label>
                    <input
                            id="newSize"
                            type="number"
                            name="size"
                            class="form-control fs-3       " max="13" min="2">

                    <button type="submit" class="btn btn-primary form-control border-0 rounded-0 fs-3 my-3">Submit</button>
                </div>




            </form>
        </div>

    </div>



</section>

</body>
</html>