<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base/base::layout(~{::#style},~{::#content},~{::#script})">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="confirmation-page"></title>

  <link id="style" rel="stylesheet" th:href="@{/css/registration/registration-page.css}">
</head>
<body class="">
<!-----------------------------------------add dynamic content here---------------------------------------->
<section id="content" class="row  align-items-center" style="height: 75vh">
  <form th:action="@{/confirm}" class=""  method="post">

    <div class="col-md-4 offset-4 ">
      <div class="alert text-center" role="alert" th:if="${message}" th:classappend="${message.type}" th:text="${message.content}">

      </div>
      <div class="d-flex justify-content-center">
        <h1>VERIFY</h1>
      </div>

      <label for="mobile" class="form-label">Mobile</label>
      <input type="text"
             class="form-control fs-3 mb-3"
             id="mobile"
             name="mobile"
      >
      <div class="invalid-feedback">
      </div>
      <button class="btn btn-dark w-100 fs-1">SUBMIT</button>
    </div>

  </form>


</section>
<!----------------------------------------------end----------------------------------------------------- -->
<script id="script" th:src="@{/js/home.js}">


</script>


</body>
</html>