 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base/base::layout(~{::#style},~{::#content},~{::#script})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link id="style" rel="stylesheet" th:href="@{/css/product.css}">
</head>
<body>
<section id="content">
    <style>


        .zoom {
            position: relative;
        }

        #imgZoom {
            position: absolute;
            left: 0;
            top: 0;
            --zoom-x: 50%;
            --zoom-y: 50%;
            transform: scale(1.5);
            pointer-events: none;
            clip-path: circle(
                    100px at var(--zoom-x) var(--zoom-y)
            );
            opacity: 0;
        }
    </style>
    <div class="row  d-flex  justify-content-center " style="--bs-gutter-x: 0 ">
        <div class=" col-md-10 shadow   row " style="--bs-gutter-x: 0 ">
            <div class="zoom col-md-8">
                <div class=" d-flex flex-wrap  " id="imgZoom">
                    <div class="w-50  " id="" th:each="i : ${product.list}">
                        <img th:src="@{${i.name}}" alt="" class="img-fluid img-thumbnail w-100 ">

                    </div>


                </div>
                <div class=" d-flex flex-wrap ">
                    <div class="w-50  " th:each="i:${product.list}">
                        <img th:src="@{${i.name}}" alt="" class="img-fluid img-thumbnail w-100 ">
                    </div>

                </div>
            </div>



            <div class="col-md-4 shadow product-details  bg-common" th:object="${product}">
                <div class="m-5 ">
                    <form  th:action="@{'/user/wishlist/add/'+${product.productId}}" method="post">
                        <button th:if="${in}" type="submit" class="btn  bg-transparent">
                            <img th:src="@{/img/productPage/heart.png}" class="img-fluid " width="30" height="30" alt="">
                        </button>
                        <button  th:unless="${in}" type="submit" class="btn  bg-transparent">
                            <img th:src="@{/img/productPage/blackHeart.png}" alt="" class="img-fluid" width="30" height="30">
                        </button>
                    </form>
                    <h1 class="m-3"><span th:text="${product.productName}"
                                          class="text-capitalize display-1 fw-medium  "></span></h1>
                    <h1 class="m-3"><span th:text="${product.brand}"
                                          class="text-uppercase  text-secondary-emphasis"></span></h1>
                    <h1 class="display-6 m-3 mb-0">MRP:<span th:text="'&#8377'+${product.productMrp}"
                                                             class="text-decoration-line-through display-6"></span></h1>
                    <h1 th:text="'&#8377'+${product.offerPrice}" class=" display-2 m-3"></h1>

                    <h1 th:if="${product.stock.totalStock>0}" class="ms-3 mt-5">AVAILABLE SIZE</h1>
                    <h1 th:unless="${product.stock.totalStock>0}" class="ms-3 text-danger">OUT OF STOCK</h1>
                    <div class="row ms-3">
                        <th:block th:each="size : ${product.stock.sizeList}">
                            <div th:if="${size.totalStock>0}"
                                 class="col-md-1 fs-1    border border-2 border-black text-white  bg-dark text-center m-2">
                                <span th:text="${size.sizeNumber}"></span>

                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="row p-2 m-4">

                        <a th:if="${isProductExists}" th:href="@{/user/cart}"  class="col-md-12 ms-3">
                            <button class=" border-none     btn btn-warning   btn-outline-dark  fs-1 col-md-6">GO TO CART</button>
                        </a>
                        <form  th:if="!${isProductExists}" th:action="@{'/user/cart/add/'+${product.productId}}" method="post" class="">
                            <div class="col-md-2 m-3">
                                <label for="sizeSelector">Select Your Size</label>
                                <select name="sizeId" id="sizeSelector" class="form-select fs-2">
                                    <option th:if="${sizeO.totalStock>0}" class="fs-2"  th:each="sizeO : ${sizeList}" th:value="${sizeO.sizeId}" th:text="${sizeO.sizeNumber}"></option>
                                </select>
                            </div>
                            <div class="col-md-10">

                            </div>
                            <div class="col-md-12 ms-3">
                                <button th:if="${product.stock.totalStock>0}" class=" border-none     btn btn-warning   btn-outline-dark  fs-1 col-md-6">ADD TO CART</button>
                                <button th:unless="${product.stock.totalStock>0}" class="border-none     btn btn-warning   btn-outline-dark  fs-1 col-md-6" disabled >ADD TO CART</button>
                            </div>

                        </form>

<!--                        <form th:action="@{'/user/checkout/'+${product.productId}}" method="post"  class="col-md-6">-->
<!--                            <button th:if="${product.stock.totalStock>0}" class="rounded-5    w-100  btn btn-outline-dark   fs-1" >BUY NOW </button>-->
<!--                            <button th:unless="${product.stock.totalStock>0}" class="rounded-5    w-100  btn btn-outline-dark   fs-1"  disabled >BUY NOW </button>-->
<!--                        </form>-->
                </div>
                <div class="px-3 mx-5">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">SIZE</th>
                            <th scope="col">Length <span class="text-danger">(inches)</span></th>
                            <th scope="col">Width <span class="text-danger">(inches)</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="size: ${product.stock.sizeList}">
                            <tr>
                                <th class="fs-3" th:text="${size.sizeNumber}" scope="row"></th>
                                <td class="fs-3" th:text="${size.sizeLength}"></td>
                                <td class="fs-3" th:text="${size.sizeWidth}">    </td>

                            </tr>
                        </th:block>


                        </tbody>
                    </table>
                </div>
                <div class="  bg-common ms-5 me-5">
                    <h1 class="text-dark ms-0 mb-0 mt-5 fs-2">DESCRIPTION</h1>

                    <p  class="fs-3 mt-0"><span th:text="${product.productDescription} "></span><span>
                    </span>
                </div>

            </div>



        </div>
        <div class="col-md-10 row border border-1 bg-common ">
            <div class="text-white col-1 m-3 ms-1">
                <div  class="rating   text-white bg-dark d-flex px-4 py-2 shadow">
                    <div class="">
                        <h1 class="display-1 fw-normal" th:if="${aggregateReview>0}"  th:text="${aggregateReview}"></h1>
                        <h1 class="display-1 fw-normal" th:unless="${aggregateReview>0}" >0</h1>
                    </div>

                    <div class=" px-2 py-1">
                        <img th:src="@{/img/productPage/star.png}" alt="" class="img-fluid">
                    </div>

                </div>
            </div>
            <div class="col-md-8 ">

            </div>
            <div th:if="${userHaveTheProduct}" class="col-md-2  mt-4">
                <a th:if="${isProductReviewed}" th:href="@{'/products/'+${product.productId}+'/review/update'}" class="btn bg-common shadow fw-bold fs-2" >RATE THE PRODUCT</a>
                <a th:unless="${isProductReviewed}" th:href="@{'/products/'+${product.productId}+'/review/add'}" class="btn bg-common shadow fw-bold fs-2" >RATE THE PRODUCT</a>
            </div>



            <h1 th:if="${!reviews.isEmpty()}">REVIEWS</h1>
            <h1 th:unless="${!reviews.isEmpty()}">NO REVIEWS YET</h1>

            <th:block th:each="review: ${reviews}">
                <div class=" row-col-1 col-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 shadow">
<!--                            <img src="..." class="card-img-top" alt="...">-->
                            <div class="card-body">
                                    <h5 class="card-title" th:text="${review.customer.firstName}"></h5>
                                    <p   class="card-text fs-3" th:text="${review.message}"></p>
                            </div>
                            <div class="card-footer">
                                <span class="fs-4">Rating</span>
                                <th:block th:each="star:${#numbers.sequence(1,5)}">
                                    <span th:if="${star<=review.rating}" class="text-body-secondary ms-2 fs-2">&#x2605;</span>
                                    <span th:unless="${star<=review.rating}" class="text-body-secondary ms-2 fs-2">
                                        &#9734;
                                    </span>

                                </th:block>

                            </div>
                        </div>
                    </div>
                </div>
            </th:block>


        </div>

    </div>

</section>

<script id="script">
    let zoom = document.querySelector('.zoom');
    let imgZoom = document.getElementById('imgZoom');

    zoom.addEventListener('mousemove', (event) => {
        imgZoom.style.opacity = 1;

        let positionPx = event.x - zoom.getBoundingClientRect().left;
        let positionX = (positionPx / zoom.offsetWidth) * 100;

        let positionPy = event.y - zoom.getBoundingClientRect().top;
        let positionY = (positionPy / zoom.offsetHeight) * 100;

        imgZoom.style.setProperty('--zoom-x', positionX + '%');
        imgZoom.style.setProperty('--zoom-y', positionY + '%');


        let transformX = -(positionX - 50) / 3.5;
        let transformY = -(positionY - 50) / 3.5;
        imgZoom.style.transform = `scale(1.5) translateX(${transformX}%) translateY(${transformY}%)`;

    })
    zoom.addEventListener('mouseout', () => {
        imgZoom.style.opacity = 0;

    })

    document.getElementById("review-edit-button").onclick=function(){
        document.getElementById("review-input").style.background='red';
        document.getElementById("review-edit-button").style.display='none'
        document.getElementById("review-submit-button").style.display='block'

    }
</script>
</body>
</html>