<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base/base::layout(~{::#style},~{::#content},~{::#footer})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link id="style"  rel="stylesheet" th:href="@{../css/send-otp.css}">
</head>
<body>
<section id="content" class="d-flex align-items-center justify-content-center row signup-section">

    <div class="col-md-3  d-flex flex-column justify-content-center align-items-center vh-80 lg-lite">
        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert  w-50"
             role="alert">
            <p th:text="${session.message.content}" class="text-center"></p>
        </div>
        <h1 class="h1">Login</h1>
        <p class="p1 ">to access your account</p>



        <form  th:action="@{/send-otp}" th:object="${request}" method="post" class=" d-flex align-items-center flex-column ">
            <input th:value="${request.username}" type="text" placeholder="your mobile number" class="align-bottom " name="username">
            <button type="submit" class="btn btn-outline-secondary ">Send OTP</button>
        </form>

    </div>
</section>

<footer id="footer"></footer>
</body>
</html>
</html>