
<!doctype html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(style,content,script)"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="${title}"></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/base.css}">

  <link th:replace="${style}" >
</head>
<body class="">


<!-- Start Header Area -->
<header class="header container-fluid  bg-transparent row  d-flex   justify-content-center m-0 p-0" style="--bs-gutter-x: 0">
  <!-------------------------------------navbar--------------------------------------------------->
  <div class="d-flex  justify-content-center shadow mb-3 bg-common col-10 p-0 m-0">
    <a th:href="@{/}">
      <button type="button" class="btn  btn-secondary fs-2">HOME</button>
    </a>
    <a th:href="@{/user/wishlist}">
      <button type="button" class="btn  btn-secondary fs-2">WISHLIST</button>
    </a>
    <a  th:href="@{/user/login}" >
      <button type="button" class="btn  btn-secondary fs-2" sec:authorize="isAuthenticated()"> <span th:text="${session.activeUser.firstName}"> <!--sec:authentication="name"--></span></button>
      <button type="button" class="btn  btn-secondary fs-2" sec:authorize="!isAuthenticated()"> <span>SIGN IN</span></button>

    </a>

    <a sec:authorize="isAuthenticated()"  th:href="@{/user/cart}" >
      <button type="button" class="btn  btn-secondary fs-2" >CART</button>
    </a>


    <!--        <button type="button" class="btn  btn-secondary fs-2">HOME</button>-->
    <!--        <button type="button" class="btn  btn-secondary fs-2">SIGN IN</button>-->
    <!--        <button type="button" class="btn  btn-secondary fs-2">WISHLIST</button>-->
    <!--        <button type="button" class="btn  btn-secondary fs-2">CART</button>-->

  </div>
  <!------------------------------------------------------navbar end ------------------------------------------->
</header>
<!---------------------------------dynamic content passed to the fragment will be displayed-------------------------->
<section  class="justify-content-center row ">
  <div class="col-md-10 row">
        <div class="col-md-2">
            <a th:href="@{/user/profile}" class="btn btn-secondary w-100 fs-2 mt-3">PROFILE</a>
            <a th:href="@{/user/orders}" class="btn btn-secondary w-100 fs-2 mt-3">ORDER'S</a>
            <a th:href="@{/user/wishlist}" class="btn btn-secondary w-100 fs-2 mt-3">WISHLIST</a>
            <a th:href="@{/user/cart}" class="btn btn-secondary w-100 fs-2 mt-3">CART</a>
            <a th:href="@{/user/addresses}" class="btn btn-secondary w-100 fs-2 mt-3">ADDRESSES</a>
            <form th:action="@{/user/logout}" method="post">
              <button class="btn btn-danger w-100 fs-2 mt-3">LOGOUT</button>
            </form>
        </div>
      <div th:replace="${content}" >

      </div>
    </div>


</section>
<footer  class="bg-dark w-100 row">
  <div class="col-12 position-relative">
    <a th:href="@{/admin/login}" class="position-absolute end-0 bottom-0">
      <button type="button" class="btn  btn-secondary fs-2 text-white">ADMIN</button>
    </a>
  </div>
  <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script th:replace="${script}"></script>

</body>
</html>