<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base/base::layout(~{::#style},~{::#content},~{::#script})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link id="style" rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body >
<section id="content">
    <section class="row  justify-content-center " style="--bs-gutter-x:0">
        <section class="col-md-8   row">
            <div class="col-md-12">
                <h1>Order Summary</h1>
            </div>
            <th:block  th:each="item : ${cart.items}">
                <div class="col-md-3">
                    <h2 th:text="${item.product.productName}"></h2>
                </div>
                <div class="col-md-1">
                    <h2>X</h2>
                </div>
                <div class="col-md-1">
                    <h2 th:text="${item.quantity}"></h2>
                </div>
                <div class="col-md-1">
                    <h2>=</h2>
                </div>
                <div class="col-md-5">
                    <h2 th:text="${item.totalPrice}"></h2>
                </div>
            </th:block>

        </section>
        <article class="col-md-2 p-4 pt-0 bg-common  tb row h-75 display-6 fw-normal  mt-0 m-2"   style="--bs-gutter-x: 0 ;">
            <article  class=" col-12   display-6 fw-normal ">PRICE DETAILS</article>
            <h2 class="fs-3 mt-3 fw-normal  col-md-6">Total MRP</h2><h2 class="text-end col-6 fs-3 mt-3 fw-normal " th:text="${cart.totalMRP}"></h2>
            <h2 class="fs-3 mt-3 fw-normal  col-md-6">Total Discount</h2><h2 class="text-end col-6 fs-3 mt-3 fw-normal " th:text="${cart.totalDiscount}"></h2>
            <h2 class="fs-3 mt-3 fw-normal  col-md-6">Total Quantity</h2><h2 class="text-end col-6 fs-3 mt-3 fw-normal " th:text="${cart.quantity}"></h2>
            <h2 class="fs-3 mt-3 fw-normal  col-md-6">Total Payable</h2><h2 class="text-end col-6 fs-3 mt-3 fw-bold " th:text="${cart.totalPrice}"></h2>

        </article>

    </section>
    <section class="row justify-content-center" style="--bs-gutter-x:0">
        <div class="col-md-8 row flex-column ps-0 p-3 pt-0" >
            <h3 class="fs-3 fw-normal col-12 bg-dark-subtle p-2 ">Delivery Address</h3>
            <div class="col-md-12 bg-common" >
                <h2 class="col-12 m-3"  th:if="${deliveryAddress}!=null" >
                    <span th:text="${deliveryAddress.name}+', '"></span>
                    <span th:text="${deliveryAddress.mobile}+', '"></span>
                    <span th:text="${deliveryAddress.building}+', '"></span>
                    <span th:text="${deliveryAddress.street}+', '"></span>
                    <span th:text="${deliveryAddress.city}+', '"></span>
                    <span th:text="${deliveryAddress.zipCode}+',  '"></span>
                    <span class="h3" th:text="${deliveryAddress.state}"> </span>
                </h2>
                <div class="col-md-12 m-3 mt-0">
                    <button
                            class="btn btn-secondary rounded-5 fs-3 m-2 ps-4 pe-4"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        change
                    </button>
                    <a
                            th:href="@{'/user/address/update/'+${deliveryAddress.id}}"
                            class="btn btn-secondary rounded-5 fs-3 m-2 ps-5 pe-5">
                        edit
                    </a>

                </div>
            </div>

        </div>
        <div class="col-md-2" >


        </div>



    </section>
    <section class="row justify-content-center" style="--bs-gutter-x:0">
        <div class="col-md-8 row flex-column ps-0 p-3 pt-0" >
            <h3 class="fs-3 fw-normal col-12 bg-dark-subtle p-2 ">Billing Address</h3>
            <div class="col-md-12 bg-common" >
                <h2 class="col-12 m-3"  th:if="${billingAddress}!=null">
                    <span th:text="${billingAddress.name}+', '"></span>
                    <span th:text="${billingAddress.mobile}+', '"></span>
                    <span th:text="${billingAddress.building}+', '"></span>
                    <span th:text="${billingAddress.street}+', '"></span>
                    <span th:text="${billingAddress.city}+', '"></span>
                    <span th:text="${billingAddress.zipCode}+',  '"></span>
                    <span class="h3" th:text="${billingAddress.state}"> </span>
                </h2>
                <div class="col-md-12 m-3 mt-0">
                    <button
                            class="btn btn-secondary rounded-5 fs-3 m-2 ps-4 pe-4"
                            data-bs-toggle="modal"
                            data-bs-target="#billingAddressModal">
                        change
                    </button>
                    <a
                            th:href="@{'/user/address/update/'+${deliveryAddress.id}}"
                            class="btn btn-secondary rounded-5 fs-3 m-2 ps-5 pe-5">
                        edit
                    </a>

                </div>
            </div>

        </div>
        <div class="col-md-2" >


        </div>



    </section>
    <section class="row justify-content-center "  style="--bs-gutter-x:0">
        <div class="col-md-8 ps-0 p-3 pt-0 " >
            <h3 class="fs-3 fw-normal bg-success-subtle p-2 ">Payment Options</h3>
            <form th:action="@{/user/payment}" method="post" >
                <label for="cod" class="form-check p-4 bg-secondary-subtle" >
                    <input type="radio" name="paymentMethod" id="cod" value="cod" class="fs-3 m-1 form-check-input" checked>
                    <label for="cod" class=" form-check-label fs-3">Cash On Delivery</label>
                </label>

                <label for="paytm" class="form-check p-4 bg-secondary-subtle">
                    <label for="paytm" class="form-check-label fs-3">Paytm</label>
                    <input type="radio" name="paymentMethod" id="paytm" value="paytm" class="fs-3 m-1 form-check-input">
                </label>
                <label for="razorpay" class="form-check p-4 bg-secondary-subtle">
                    <label for="razorpay" class="form-check-label fs-3">RazorPay</label>
                    <input type="radio" name="paymentMethod" id="razorpay" value="razorpay" class="fs-3 m-1 form-check-input">
                </label>
            <div class="row" >
                <button type="submit" class="btn btn-success rounded-0 col-md-6 fs-3">PROCEED TO PAYMENT</button>
                <a th:href="@{/user/cart}" class="btn btn-warning rounded-0 col-md-6  fs-3">CANCEL</a>
            </div>

            </form>

        </div>
        <div class="col-md-2">

        </div>

    </section>





    <!-- Modal  FOR SELECTING THE DELIVERY ADDRESS------------------------------------>
    <div class="modal  fade modal-lg " id="exampleModal" tabindex="-1" aria-labelledby="addressModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModal">Select The Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/user/checkout/deliveryAddress/update}" th:method="put">
                    <div class="modal-body">
                        <div class="form-check border-black p-3" th:each="  address: ${addressList}">
                            <input class="btn-check" type="radio" name="addressId" th:id="${address.id}" th:value="${address.id}" th:checked="${address.isDefault}">
                            <label class="btn btn-outline-secondary text-dark w-100" th:for="${address.id}">
                                <h2 class=" mt-3" th:text="${address.name}+', '+${address.mobile}"></h2>
                                <h3 class=" mt-3" th:text="${address.building}+', '+${address.street}  +' '+${address.city}"> <span ></span></h3>

                                <h2 class=" mt-3"><span th:text="${address.zipCode}+',  '"></span> <span class="h3" th:text="${address.state}"> </span></h2>

                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------modal ends-->


    <!-- Modal  FOR SELECTING THE BILLING ADDRESS------------------------------------>
    <div class="modal  fade modal-lg " id="billingAddressModal" tabindex="-1" aria-labelledby="addressModalBilling" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalBilling">Select The Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/user/checkout/billingAddress/update}" th:method="put">
                    <div class="modal-body">
                        <div class="form-check border-black p-3" th:each="  address: ${addressList}">
                            <input class="btn-check" type="radio" name="addressId" th:id="${address.id}+1" th:value="${address.id}" th:checked="${address.isBilling}">
                            <label class="btn btn-outline-secondary text-dark w-100" th:for="${address.id}+1">
                                <h2 class=" mt-3" th:text="${address.name}+', '+${address.mobile}"></h2>
                                <h3 class=" mt-3" th:text="${address.building}+', '+${address.street}  +' '+${address.city}"> <span ></span></h3>

                                <h2 class=" mt-3"><span th:text="${address.zipCode}+',  '"></span> <span class="h3" th:text="${address.state}"> </span></h2>

                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------modal ends-->
</section>

<script id="script">

</script>
</body>
</html>