<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::#style},~{::#content},~{::#script})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="loginpage"></title>
    <link id="style"  rel="stylesheet">
</head>
<body class="">
<!---------------------------------dynamic content passed to the fragment will be displayed-------------------------->

<section id="content" class=" mt-4 col-md-10 row">
    <div class="col-md-7">
        <form  th:action="@{'/user/address/update/'+${addressUpdate.id}}" class="row g-3 bg-secondary-subtle m-3 p-3 " th:object="${addressUpdate}" method="post">
            <div th:if="${message}" th:text="${message.content}"  th:classappend="${message.type}" class="text-center text-danger fs-3"> </div>
            <div class="col-md-5 m-3">
                <label for="inputName" class="form-label">Full Name</label>
                <input
                        type="text"
                        class="fs-3 form-control"
                        id="inputName"
                        name="name"
                        th:value="${addressUpdate.name}">
            </div>
            <div class="col-md-5 m-3">
                <label for="mobile" class="form-label">Mobile</label>
                <input
                        type="text"
                        class="fs-3 form-control"
                        id="mobile"
                        name="mobile"
                        th:value="${addressUpdate.mobile}">
            </div>
            <div class="col-md-5 m-3">
                <label for="building" class="form-label">Building Name</label>
                <input
                        type="text"
                        class="fs-3 form-control"
                        id="building"
                        name="building"
                        th:value="${addressUpdate.building}">
            </div>
            <div class="col-5 m-3">
                <label for="alterPhone" class="form-label">Alternative Phone</label>
                <input
                        type="text"
                        class="form-control fs-3"
                        id="alterPhone"
                        name="alterPhone"
                        placeholder="1234 Main St"
                        th:value="${addressUpdate.alternativeMobile}">
            </div>
            <div class="col-md-5 m-3 ">
                <label for="street" class="form-label">Street</label>
                <input
                        type="text"
                        class="form-control fs-3 "
                        id="street"
                        name="street"
                        th:value="${addressUpdate.street}">
            </div>

            <div class="col-5  m-3">
                <label for="landMark" class="form-label">LandMark</label>
                <input
                        type="text"
                        class="form-control fs-3"
                        id="landMark"
                        name="landmark"
                        placeholder="Apartment, studio, or floor"
                        th:value="${addressUpdate.landmark}">
            </div>
            <div class="col-md-5  m-3">
                <label for="inputCity" class="form-label">City</label>
                <input
                        type="text"
                        class="form-control fs-3"
                        id="inputCity"
                        name="city"
                        th:value="${addressUpdate.city}">
            </div>
            <div class="col-md-3  m-3 me-1">
                <label for="inputState" class="form-label">State</label>
                <select
                        id="inputState"
                        name="state"
                        class="form-select fs-3"
                        >
                    <option selected th:value="${addressUpdate.state}" th:text="${addressUpdate.state}"></option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-md-2 m-3 ms-0  ">
                <label for="inputZip" class="form-label">Zip</label>
                <input
                        type="text"
                        class="form-control fs-3"
                        id="inputZip"
                        name="zipCode"
                        th:value="${addressUpdate.zipCode}">
            </div><input type="hidden"  name="id" th:field="*{id}"/>


            <div class="col-md-2 m-3 " >
                <button type="submit" class="btn btn-dark form-control">Save</button>
            </div>
        </form>
    </div>

</section>
<script id="script" th:src="@{/js/user/reset-password.js}">

</script>
</body>
</html>