<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::#style},~{::#content},~{::#script})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="loginpage"></title>
    <link id="style"  rel="stylesheet">
</head>
<body class="">
<!---------------------------------dynamic content passed to the fragment will be displayed-------------------------->

<section id="content" class=" mt-3 col-md-10 row">

    <div class="col-md-10">
        <th:block th:each="order: ${orders}">
            <a class="text-decoration-none" th:href="@{'/user/orders/'+${order.orderId}}">
                <div class="card mt-2 mb-2">
                    <h5 class="card-header"><span>ORDER ID:</span><span class="text-primary-emphasis" th:text="${order.orderId}"> </span></h5>
                    <div class="card-body row">
<!--                        <h4 class=" col-md-4"><span>Order Status :</span><span th:text="${order.status}"></span></h4>-->
                        <h4 class=" col-md-4"><span>Payment Status :</span><span class="text-success"  th:text="${order.payment.status}"></span></h4>
                        <h3 class="col-md-4"><span>Total Amount :</span><span th:text="${order.payment.totalAmount}"></span></h3>

<!--                        <form th:if="${order.status}!='Cancelled'" th:action="@{'/user/orders/'+${order.orderId}+'/cancel'}" th:method="put">-->
<!--                            <button class="btn btn-danger" type="submit"> cancel</button>-->
<!--                        </form>-->


                    </div>
                </div>
            </a>

        </th:block>

    </div>
    </div>

</section>


<script id="script" th:src="@{/js/user/reset-password.js}">

</script>



</body>
</html>


