<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/admin_base::layout(~{::#style},~{::#content})">
<head>
    <meta charset="UTF-8">
    <title>this is for adding user</title>
    <link th:href="@{/css/admin-user-update.css}" id="style" type="text/css" rel="stylesheet">
</head>
<body>
<section id="content" class="container-fluid ">
    <div class="row  d-flex   justify-content-center align-items-center  ">
        <div class="col-md-5 bg-secondary  m-5 ">
            <h1 class="text-center m-5">UPDATE USER</h1>
            <div class="alert text-center" role="alert" th:if="${message}" th:classappend="${message.type}"
                 th:text="${message.content}">

            </div>

            <form th:action="@{'/admin/users/update/'+*{userId}}" th:method="put" th:object="${customer}"
                  class="input-group-lg d-flex bg-secondary flex-column m-5 p-5">
                <label for="mobileNumber" class="fs-3">Mobile Number</label>
                <input
                        th:value="${customer.mobileNumber}"
                        class="input-group-text mb-5 fs-3" type="text"
                        name="mobileNumber"
                        id="mobileNumber"
                        placeholder="mobile">
                <div th:if="${#fields.hasErrors()}" th:each="e: ${#fields.errors('mobileNumber')}">
                    <p th:text="${e}"></p>
                </div>


                <label for="email" class="fs-3">Email</label>
                <input
                        th:value="${customer.email}"
                        class="input-group-text mb-5 fs-3"
                        type="text"
                        name="email"
                        id="email"
                        placeholder="email">
                <div th:if="${#fields.hasErrors()}" th:each="e: ${#fields.errors('email')}">
                    <p th:text="${e}"></p>
                </div>


                <label for="firstName" class="fs-3">Firstname</label>
                <input
                        th:value="${customer.firstName}"
                        class="input-group-text mb-5 fs-3"
                        type="text"
                        name="firstName"
                        id="firstName"
                        placeholder="firstname">
                <div th:if="${#fields.hasErrors()}" th:each="e: ${#fields.errors('firstName')}">
                    <p th:text="${e}"></p>
                </div>

                <label for="lastName" class="fs-3">lastName</label>
                <input
                        th:value="${customer.lastName}"
                        class="input-group-text mb-5 fs-3"
                        type="text"
                        name="lastName"
                        id="lastName"
                        placeholder="lastname">
                <div th:if="${#fields.hasErrors()}" th:each="e: ${#fields.errors('lastName')}">
                    <p th:text="${e}"></p>
                </div>


                <label for="dob" class="fs-3">Date Of Birth</label>
                <input
                        th:value="${customer.dob}"
                        class="input-group-text mb-5 fs-3"
                        type="date"
                        name="dob"
                        id="dob"
                        placeholder="date of birth">
                <div th:if="${#fields.hasErrors('dob')}" th:each="e: ${#fields.errors('dob')}">
                    <p th:text="${e}"></p>
                </div>


                <label for="gender" class="fs-3">Gender</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text mb-5 fs-3">Gender</div>
                    </div>
                    <select id="gender" th:value="${customer.gender}" name="gender" class="form-select input-group-text mb-5 fs-3">
                        <option selected th:value="${customer.gender}" th:text="${customer.gender}"></option>
                        <option th:if="${customer.gender}!='Male'" value="Male">Male</option>
                        <option th:if="${customer.gender}!='Female'" value="Female">Female</option>
                        <option th:if="${customer.gender}!='Others'" value="Others">Others</option>
                    </select>
                </div>

                <div th:if="${#fields.hasErrors()}" th:each="e: ${#fields.errors('gender')}">
                    <p th:text="${e}"></p>
                </div>

                <button class="btn  btn-dark input-group-text m-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-2 text-danger" id="exampleModalLabel">Warning</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                do you really want to update the user?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning fs-2" data-bs-dismiss="modal">Cancel</button>

                                    <button type="submit" class="btn btn-danger border-0 fs-2"  >
                                       Yes
                                    </button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>


</body>
</html>