img{
    width:20px ;
    height: 20px;
}

.menu-bar{
    background:rgb(235,238,239);


}

.menu-bar .btn{
    margin:2% 2% 2% 2%;
    height: 50px;
    width: 100%;

}
.menu-bar a{
    width: 80%;
    margin:2% 2% 2% 2%;

}

.display-6{
    font-size: 1.7rem;
    font-weight: bold;
}