.header{


}

html{
    font-size: 10px;
}

body{
    background: url("../img/user-login.png")  107% 280%  no-repeat fixed,url("../img/user-login2.png")  0% 0%  no-repeat fixed rgb(235,238,239);


    height:100vh;
}

.bg-nav{
    background: rgba(0,0,0,0.75);

}

.radius{
    border-radius: 25px;
}

.logo{
    width: 6em;
    height:6em;

}
.nav-item{
    padding: 0% 0% 4% 2%;
}

.search input{
    border:none;
    outline:none;
}



.lg-lite{
    background: transparent;
}

.lg-dark{
    background: linear-gradient(#282929,#9DA2A2);
}

.vh-80{
    height: 80vh;
}
/*------------------------------classes of custom heights-------------------------------------*/
.h-2{
    width:20px;
}

.h-3{
    height: 30px;
}

.signup-section input{
    width: 80%;
    height: 50%;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:black;
    outline: none;
    margin:30px;
    font-size: 2rem;

}


.signup-section button{
    width: 80%;
    height: 50%;
    background: linear-gradient(to left  ,rgba(235,246,247,0.3), rgba(240,255,255,0.3));
    border:none;
    outline: none;
    font-size: 3rem;
}



/*------------------------------classes of custom width-------------------------------------*/

.w-2{
    width:20px;
}
.w-3{
    width:30px;
}

.w-550{
    width: 550px;

}

.w-80{
    width: 80% !important;
}



/*-------------test-border*/
.tb{
    border:1px solid black;
}
.tb-red{
    border:1px solid red;
}
.tb-blue{
    border:1px solid blue;
}

.nav-link{
    color: white;
    font-size:2em;
}


.nav-link:hover{
    color: #e8e0e0;
}

.h1{
    font-size: 4em;
}


.p1{
    font-size: 2em;
}



/*-------------------admin login---------------------*/

.head1{
    height: 10rem;
}

.admin-login-body{
    background: url("../img/admin-login.png") center center no-repeat fixed;
    background-size: cover;

}

.admin-form-section{
    background: #D9D9D9;
    border-radius: 15px;
}

.admin-login-body input{
    width:300px;
    height: 40px;
    border-radius: 10px ;
    border: none;
    outline: none;
    font-size:2rem;
    padding: 1rem;
    margin-top: 30px;

}


.admin-login-body button{
    width:300px;
    height: 60px;
    border-radius: 10px ;
    border: none;
    outline: none;
    font-size:3rem;
    padding: 1rem;
    margin-top: 6rem;
    background: linear-gradient(to right,rgba(255,255,255,10),rgba(106,75,75,));
    margin-bottom: 15rem;

}

.admin-icon{
    margin-top: 8rem;
}


/*-----------new navbar-------------------------------------------*/

header .btn{
    margin:2% 2% 2% 2%;
    height: 50px;
    width: 10%;
    border-radius: 25px;
}